body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-100);
}

.btn-login{
    background-color: var(--primary-100);
    color: white;
}

.btn-login:hover{
    background-color: var(--primary-200);
    color: var(--text-300);
}

.btn-toRegister{
    color: var(--primary-100);
}

.btn-toRegister:hover{
    color: var(--primary-200);
}

.teks-buatAkun{
    font-size: 13px;
    color: var(--text-100);
}

.content-login .form-control:focus {
    box-shadow: 0 0 5px 0 #019b98;
}