footer{
    background-color: var(--primary-100);
    /* background-color: #00AA9F; */
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer h3{
    font-size: 18px;
    font-weight: 500;
}

footer a:hover{
    color: #00AA9F;
    /* color: #FF7000; */
    font-size: 16px;
}

footer .container{
    padding-top: 50px;
}

footer .cr{
    text-align: center;
    padding-bottom: 20px;
}

footer .isi{
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    footer h3{
        text-align: center;
    }

    footer .isi{
        text-align: center;
    }

}
