nav {
    background-color: var(--bg-100);
}

.navbar a.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-100);
}

@media (max-width: 767.98px) {
    .navbar a.navbar-brand {
        font-size: 25px;
    }
}

.navbar a.active {
    color: var(--primary-200);
}

nav .nav-link {
    font-weight: 500;
    font-size: 17px;
    color: var(--primary-100);
}


.navbar .nav-link:hover {
    color: var(--primary-200);
}

nav .dropdown{
    display: flex;
    justify-content: center;
}

nav .dropdown-menu {
    background-color: var(--primary-100);
    padding: 0px;
    min-width: 0;
    width: auto;
    max-width: 200px;
    border-radius: 10px;
}

.navbar .dropdown-divider {
    color: white;
    background-color: white;
}

nav .dropdown-item {
    margin: 0px;
    padding: 10px;
}

nav .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-200);
}

nav .dropdown-menu a {
    font-size: 1pc;
    font-weight: 500;
    color: white;
}

/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: var(--primary-100);
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: var(--primary-100);
}


@media (max-width: 767.98px) {
    .navbar-toggler-icon {
        color: aqua;
    }

    .navbar .dropdown-menu {
        width: auto;
    }

}

.navbar hr {
    border: none;
    height: 2px;
    background-color: var(--primary-100);
    margin: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
}

/* @media (max-width: 990px) {
    .item-keranjang{
        display: none;
    }
}

@media (min-width: 991px) {
    .button-keranjang{
        display: none;
    }
} */

.navbar .btn-register {
    color: white;
    background-color: var(--primary-100);
    text-transform: capitalize;
}

.navbar .btn-register:hover {
    background-color: var(--primary-200);
    color: white;
}

@media (max-width: 991px) {
    .navbar .btn-register {
        margin: 5px;
    }

    .navbar .btn-login {
        text-align: center;
    }

    nav .nav-link {
        text-align: center;
        margin: 5px;
    }
}
