.content-paymentConfirmation{
    min-height: 50vh;
    margin-top: 130px;
}

.title-payment{
    font-size: 40px;
    color: var(--primary-100);
}

.sub-title-paymentConfir {
    font-size: 20px;
}

.content-kiri h1{
    font-size: 20px;
    font-weight: 700;
}
.content-kiri h2{
    font-size: 15px;
    font-weight: 400;
}
.content-kiri h3{
    font-size: 15px;
    font-weight: 400;
}

.content-kanan {
    text-align: right;
}

.content-kanan h4{
    font-size: 20px;
    font-weight: 700;
}

.content-kanan h5{
    font-size: 15px;
    font-weight: 400;
}

.content-total-kanan{
    text-align: right;
}
.content-total-kanan h6{
    font-size: 20px;
    font-weight: 600;
}

.title-pelanggan{
    color: black;
    font-size: 1.5pc;
    font-weight: 400;
}

.title-total{
    color: black;
    font-size: 1.5pc;
    font-weight: 400;
}

/* RADIO BUTTON */

/* AKHIR RADIO BUTTON */

@media (max-width: 768px) {
    .content-paymentConfirmation{
        margin-top: 100px;
    }

    .title-payment{
        font-size: 27px;
    }

    .sub-title-paymentConfir{
        font-size: 13px;
    }
}

.content-paymentConfirmation .btn-konfirmasi-pemesanan:active{
    background-color: var(--primary-200);
    color: white;
    border: none;
}