.title-jadwal {
    color: var(--primary-100);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* NEW SCHEDULE */
.content-schedule {
    min-height: 100vh;
    padding-top: 100px;
}

.content-schedule .btn-filter {
    background-color: var(--primary-100);
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.content-schedule .btn-filter:hover {
    opacity: 0.8;
}

.content-schedule .btn-filter:active {
    transform: scale(0.96);
}

.content-schedule .card-jadwal {
    padding: 20px;
    background-color: var(--primary-200);
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}

.content-schedule .card-jadwal h1 {
    font-size: 20px;
}

.content-schedule .card-jadwal h2 {
    font-size: 20px;
}

.content-schedule .card-jadwal h3 {
    font-size: 20px;
}

@media (max-width: 575px) {

    .content-schedule .card-jadwal h1 {
        font-size: 15px;
    }

    .content-schedule .card-jadwal h2 {
        font-size: 15px;
    }

    .content-schedule .card-jadwal h3 {
        font-size: 15px;
    }

    .content-schedule .isi-list-jadwal{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.content-schedule .selected {
    background-color: var(--primary-100);
}

.content-schedule .selected:active {
    transform: scale(0.96);
}

.content-schedule .card-jadwal:active {
    transform: scale(0.96);
}

.content-schedule .card.card-jadwal.booked{
    background-color: var(--text-100);
}

.box-pembayaran {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.box-pembayaran .btn-pembayaran {
    background-color: var(--primary-100);
    color: white;
}
.box-pembayaran .btn-pembayaran:active{
    background-color: var(--primary-200);
    color: white;
    border: none;
}

@media (max-width: 768px) {
    .title-jadwal {
        font-size: 30px;
    }

    .icon-not img{
        width: 300px;
        height: 300px;
    }
}

.content-schedule .icon-not{
    height: 50vh;
}