.sidebar{
    background-color: #019b98;
    color: white;
}

.sidebar-brand-text{
    color: white;
    font-size: 12px;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  background-color: var(--primary-200);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: var(--text-100);
  font-weight: 700;
}